@import "tailwindcss";
@import "./css/fonts.css";
@import "./css/neobrutalism.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
