name: Deploy

on:
  workflow_run:
    workflows: [Tests]
    types: [completed]
    branches: [main]
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Doppler CLI
        uses: dopplerhq/cli-action@v3

      - name: Update database
        run: |
          doppler run --config prd -- pnpm prisma db push
        env:
          DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN }}

      - name: Deploy to Vercel
        uses: nexterias/actions-vercel@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          org-id: "team_bjyg9pgn8TQQVP2NLMPnSYSN"
          prebuilt: false
          production: false
          project-id: "prj_SrqYHd1Olo0XfxQHLe9lyGfcoT9z"
          token: ${{ secrets.VERCEL_TOKEN }}
        env:
          SENTRY_AUTH_TOKEN: "98ontZY9tk6pr8mZZCxrhZio"
          SENTRY_ORG: "labnotes"
          SENTRY_PROJECT: "rentail"
