name: Tests

on:
  - push
  - workflow_dispatch

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: citeup
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
          cache: "pnpm"

      - name: Install NPM dependencies
        run: pnpm install

      - name: Set PLAYWRIGHT_VERSION
        run: echo "PLAYWRIGHT_VERSION=$(pnpm exec playwright --version)" >> $GITHUB_ENV

      - name: Install Playwright (Chromium)
        timeout-minutes: 5
        run: pnpm exec playwright install chromium --with-deps

      - name: Setup database schema for testing
        run: |
          pnpm prisma generate 
          pnpm prisma db push
        env:
          DATABASE_URL: "postgresql://postgres:postgres@localhost:5432/citeup"
          NODE_ENV: "test"

      - name: Check secrets
        run: pnpm secretlint "**/*" --format stylish

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Lint code
        run: biome lint

      - name: Generate React Router types
        run: pnpm react-router typegen

      - name: Check types
        run: pnpm tsc --noEmit --strict
        env:
          NODE_OPTIONS: "--max-old-space-size=3096"

      - name: Run Tests
        run: pnpm --expose-gc --max-old-space-size=4096 vitest run
        env:
          ANTHROPIC_API_KEY: "sk-ant-"
          DATABASE_URL: "postgresql://postgres:postgres@localhost:5432/citeup"
          DEBUG: ""
          OPENAI_API_KEY: "sk-proj-"
          PERPLEXITY_API_KEY: "pk-prod-"
          GOOGLE_GENERATIVE_AI_API_KEY: "AIza"

      - name: Upload Playwright Test Results
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: playwright-test-results
          path: __screenshots__

      - name: Install Doppler CLI
        uses: dopplerhq/cli-action@v3

      - name: Read DIRECT_URL from Doppler
        id: doppler-direct-url
        run: |
          echo "DIRECT_URL=$(doppler secrets get DIRECT_URL --plain)" >> $GITHUB_ENV
        env:
          DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN }}

      - name: Update database
        if: github.ref == 'refs/heads/main'
        run: |
          doppler run --config prd -- pnpm prisma db push --url ${{ env.DIRECT_URL }}

      - name: Deploy to Vercel
        uses: nexterias/actions-vercel@v1
        if: github.ref == 'refs/heads/main'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          org-id: "team_bjyg9pgn8TQQVP2NLMPnSYSN"
          prebuilt: false
          production: false
          project-id: "prj_SrqYHd1Olo0XfxQHLe9lyGfcoT9z"
          token: ${{ secrets.VERCEL_TOKEN }}
        env:
          SENTRY_AUTH_TOKEN: "98ontZY9tk6pr8mZZCxrhZio"
          SENTRY_ORG: "labnotes"
          SENTRY_PROJECT: "rentail"
